<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShadowsocksX-NG</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
				<key>dateExpires</key>
				<string>2024/10/16</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>CircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>GCDWebServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>MASShortcut.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libp2p.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>LaunchHelper.app</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>client</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libcares.2.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libev.4.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libmbedcrypto.2.12.0.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libpcre.1.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libsodium.23.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>obfs-local</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>privoxy</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>proxy_conf_helper</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>ss-local</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CF997FA0D762557ECDA25778895599B8C48B91E</string>
						<key>dateExpires</key>
						<string>2024/10/16</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>v2ray-plugin</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V442MA2B5Z</string>
						<key>name</key>
						<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>ShadowsocksX-NG.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V442MA2B5Z</string>
				<key>name</key>
				<string>LAW'S CLOUD INFRASTRUCTURE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
